<h2>Question</h2>
<p><%= @question.text %></p>

<h6>Vote</h6>
<p><%= @question.vote_count %></p>


<%= erb :"/answers/_new" %>

<br>
<%= erb :"/_errors",layout: false,locals: {errors: @errors} %>
<ul id="answer-list">
  <% @answers.each do |answer| %>
  <label for="answer">Answer: </label><br>
  <li id="helom"><%= answer.text %></li>

  <form action='/answers/<%= answer.id %>/upvote' method="POST">
    <button class="fa fa-thumbs-up inline" type="submit" name="answer_vote" value="upvote_points"></button>
  </form>
  <form action='/answers/<%= answer.id %>/downvote' method="POST">
    <button class="fa fa-thumbs-down" type="submit" name="answer_vote" value="downvote_points"></button>
  </form>

  Score: <%= answer.vote_count %>

  <form action="/answers/<%= answer.id %>/comments" method="POST">
    <label for="comment">Comment:</label>
    <input type="text" name="comment" placeholder="Comment">
    <br>
    <input class="button" type="submit" value="Submit">
  </form>

  <ul>
    <label for="comment">Comment: </label>
    <% answer.comments.each do |comment| %>
    <li> <%= comment.text %> </li>
    <% end %>
  </ul>
<% end %>
</ul>
