<%= @question.vote_count %><br>
<%= @question.text %><br>

<%= erb :"/answers/_new" %>

<br>

<% @answers.each do |answer| %>
  <form action='/answers/<%= answer.id %>/upvote' method="POST">
    <label for="upvote">This answer is great!</label>
    <button type="submit" name="answer_vote" value="upvote_points"></button>
  </form>
  <form action='/answers/<%= answer.id %>/downvote' method="POST">
    <label for="downvote">This answer sucks ass!</label>
    <button type="submit" name="answer_vote" value="downvote_points"></button>
  </form>
  Score: <%= answer.vote_count %>
  <%= answer.text %>

 <form action="/answers/<%= answer.id %>/comments" method="POST">
    <label for="comment">Comment:</label>
    <input type="text" name="comment" placeholder="Comment">
    <br>
    <input type="submit" value="Submit">
</form>

  <ul>
  <% answer.comments.each do |comment| %>
   <li> <%= comment.text %> </li>
    <% end %>
  </ul>
<% end %>
