<h2>Question</h2>
<p><%= @question.text %></p>

<h6>Vote</h6>
<p><%= @question.vote_count %></p>


<%= erb :"/answers/_new" %>

<br>
<ul id="answer-list">
  <% @answers.each do |answer| %>
  <label for="answer">Answer: </label><br>
  <li><%= answer.text %> <%= answer.vote_count %></li>

<% @answers.each do |answer| %>
  <form action='/answers/<%= answer.id %>/upvote' method="POST">
    <label for="upvote">This answer is great!</label>
    <button type="submit" name="answer_vote" value="upvote_points"></button>
  </form>
  <form action='/answers/<%= answer.id %>/downvote' method="POST">
    <label for="downvote">This answer sucks ass!</label>
    <button type="submit" name="answer_vote" value="downvote_points"></button>
  </form>
  
  Answer: <%= answer.text %><br>
  Score: <%= answer.vote_count %>

  <form action="/answers/<%= answer.id %>/comments" method="POST">
    <label for="comment">Comment:</label>
    <input type="text" name="comment" placeholder="Comment">
    <br>
    <input type="submit" value="Submit">
  </form>

  <ul>
    <label for="comment">Comment: </label>
    <% answer.comments.each do |comment| %>
    <li> <%= comment.text %> </li>
    <% end %>
  </ul>
<% end %>
</ul>
