<h2>Question</h2>
<p><%= @question.text %></p>

<h3>Vote</h3>
<p><%= @question.vote_count %></p>


<%= erb :"/answers/_new" %>

<br>
<%= erb :"/_errors",layout: false,locals: {errors: @errors} %>
<ul id="answer-list">
  <% @answers.each do |answer| %>

    <%= erb :"/answers/_show", layout: false, locals: {answer: answer} %>

  <% end %>
</ul>
